<ion-content padding>
  <ion-card class="general">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>SoccerEasy</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input placeholder="usuario@soccer.com" type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-icon name="lock" slot="start" color="primary"></ion-icon>
        <ion-label position="stacked" color="primary">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button color="primary" (click)="SignWithEmail()" shape="round">
        Iniciar sesión
      </ion-button>
      <br>
      <ion-label color="secondary" class="Register" (click)="Register()">Crear cuenta</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>