<ion-content padding>
  <ion-card class="general">
    <ion-card-content>
      <ion-item>
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-label position="stacked" color="dark">Email</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="lock" slot="start" color="primary"></ion-icon>
          <ion-label position="stacked"  color="dark">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>