<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="openFirst()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Left side menu toggle</ion-title>
</ion-toolbar>
<ion-menu side="start" menuId="first" class="GlobalMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon (mouseover)="ViewTittle()" (mouseout)="OutTittle()" name="cog"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div>
  <ion-label id="titulo" color="primary">Ejemplo valor</ion-label>
</div>
<ion-router-outlet main></ion-router-outlet>