<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="openFirst()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Left side menu toggle</ion-title>
</ion-toolbar>

<ion-menu side="start" menuId="first" class="GlobalMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="presentPopover()"> 
        <ion-icon slot="start" name="cog"></ion-icon>
      </ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>